   * {
       margin: 0;
       padding: 0;
   }
   
   .bodyView {
       overflow-x: hidden;
   }
   
   /*#name {
       background-image: url('http://web.mta.info/maps/images/subway_map_May20_2400x2901.jpg');
       background-position: left 35%;
   }
   
   #nameWrap {
       background: linear-gradient(black, rgba(0, 0, 0, 0.8), black);
   }*/
   
   #about {
       background-image: url('http://web.mta.info/maps/images/subway_map_May20_2400x2901.jpg');
       background-position: left 25%;
   }
   
   #portfolio {
       background-image: url('http://web.mta.info/maps/images/subway_map_May20_2400x2901.jpg');
       background-position: left 50%;
   }
   
   #skills {
       background-image: url('http://web.mta.info/maps/images/subway_map_May20_2400x2901.jpg');
       background-position: left 75%;
   }
   
   .textWrap {
       background: linear-gradient(black, rgba(0, 0, 0, 0.8), black);
   }
   .portfolioWrap {
    background: linear-gradient(black, rgba(0, 0, 0, 0.7), black);
   }
   #skills-head {
   
       background: black;
   }
   #idk {
    
    padding-top: 2vh;
    padding-bottom: 8vh;

         text-align: center;
   }
   
   html,
   body {
       width: 100%;
       height: 100%;
   }
   
   body {
       width: 100%;
       background: black;
       overflow-y: scroll;
   }
   
   .devicon-git-plain,
   .devicon-mysql-plain-wordmark,
   .devicon-nodejs-plain-wordmark,
   .devicon-mongodb-plain-wordmark,
   .devicon-jquery-plain-wordmark,
   .devicon-javascript-plain,
   .devicon-heroku-plain-wordmark,
   .devicon-css3-plain-wordmark,
   .devicon-html5-plain-wordmark,
   .devicon-photoshop-plain {
       margin-left: 1vw;
       font-size: 4.5vw;
       color: white;
       text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

   }
   
   p {
       font-size: 15px;
       font-family: 'Open Sans', sans-serif;
       color: rgba(255, 255, 255, .7);
       padding-top: 0vw;
       padding-left: 2vw;
       padding-right: 2vw;
       padding-bottom: 1vw;
   }
   
   .sky {
       width: 100%;
       -webkit-animation-name: skychange;
       -webkit-transform: translateZ(0);
       -webkit-animation-duration: 60s;
       -webkit-animation-timing-function: ease-out;
       -webkit-animation-iteration-count: infinite;
       animation: skychange 60s infinite normal ease-out;
   }
   
   #about h1 {
       padding-left: 2vw;
   }
   
   #portfolio h1 {
       padding-left: 2vw;
   }
   
   #skills h1 {
       padding-left: 2vw;
   }
   
   #skillsWrap {
       width: 100%;
       position: absolute !important;
             padding-left:20vw !important;
             /*padding-bottom: 2vw !important;*/
             padding-top: 7vw;
            
   }
   
   @-webkit-keyframes skychange {
       0% {
           background: #ABEAFF;
       }
       20% {
           background: #C4F0FF;
       }
       40% {
           background: #FABBBB;
       }
       60% {
           background: #022E7A;
       }
       80% {
           background: #2F3233;
       }
       100% {
           background: #ABEAFF;
       }
   }
   
   @keyframes skychange {
       0% {
           background: #ABEAFF;
       }
       20% {
           background: #C4F0FF;
       }
       40% {
           background: #FABBBB;
       }
       60% {
           background: #022E7A;
       }
       80% {
           background: #2F3233;
       }
       100% {
           background: #ABEAFF;
       }
   }
   
   .city img {
       width: 100%;
   }
   
   h1 {
       font-family: 'Ramabhadra', sans-serif;
       color: rgba(255, 255, 255, 0.9);
   }
   
   .subwayWrap,
   .subwayWrap2 {
       position: relative;
   }
   
   .subwayArt {
       width: 20% !important;
       position: absolute;
       top: 4vw !important;
       left: 20vw !important;
   }
   
   .subwayArt2 {
       width: 20% !important;
       position: absolute;
       top: 4vw !important;
       right: 20vw !important;
   }
   
   #first,
   #last {
       font-size: 5vw;
   }
   
   #nameWrap {
       margin-top: 0vw;
              padding-left: 4vw;
       margin-bottom: 1vw;
   }
   
   #last {
       margin-top: -4vw;
   }
   
   #arrayHere {
       margin-left: 17vw;
       margin-top: -15vw;
       font-size: 7vw;
   }
   
   .carWrap img {
       width: 100%;
       z-index: 1;
       position: absolute;
       bottom: 15px;
       -webkit-animation-name: carMove;
       -webkit-transform: translateZ(0);
       -webkit-animation-duration: 2.5s;
       -webkit-animation-timing-function: linear;
       -webkit-animation-iteration-count: infinite;
       animation: carMove 2.5s infinite linear;
       filter: blur(1px);
   }
   
   @-webkit-keyframes carMove {
       0% {
           left: -100%;
       }
       100% {
           left: 100%;
       }
   }
   
   @keyframes carMove {
       0% {
           left: -100%;
       }
       100% {
           left: 100%;
       }
   }
   
   .carWrap2 img {
       width: 100%;
       z-index: 1;
       position: absolute;
       bottom: 15px;
       -webkit-animation-name: carMoveii;
       -webkit-transform: translateZ(0);
       -webkit-animation-duration: 2.5s;
       -webkit-animation-timing-function: linear;
       -webkit-animation-iteration-count: infinite;
       animation: carMoveii 2.5s infinite linear;
       filter: blur(1px);
   }
   
   @-webkit-keyframes carMoveii {
       0% {
           left: 100%;
       }
       100% {
           left: -100%;
       }
   }
   
   @keyframes carMoveii {
       0% {
           left: 100%;
       }
       100% {
           left: -100%;
       }
   }
   /*before media queries*/
   /*large monitors*/
   
   a img:hover {
       box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
   }
   
   .subwayWrap img {
       width: 100%;
   }
   
   .subwayWrap2 img {
       width: 100%;
   }
   /*Laptops*/
   
   @media (max-width: 1024px) {
       .subwayWrap img {
           width: 100%;
       }
       .subwayWrap2 img {
           width: 100%;
       }
   }
   /*Tablets*/
   
   @media (max-width: 768px) {
   /*  #skillsWrap {
       width: 100%;
       position: absolute !important;
             padding-left:18vw !important;
             padding-bottom: 2vw !important;
             padding-top: 7vw;
            
   }*/
       .subwayWrap img {
           width: 100%;
       }
       .subwayWrap2 img {
           width: 100%;
       }
   }
   /*Small devices*/
   
   @media (max-width: 425px) {
       .subwayWrapimg {
           width: 100%;
       }
       .subwayWrap2 img {
           width: 100%;
       }
     .devicon-git-plain,
   .devicon-mysql-plain-wordmark,
   .devicon-nodejs-plain-wordmark,
   .devicon-mongodb-plain-wordmark,
   .devicon-jquery-plain-wordmark,
   .devicon-javascript-plain,
   .devicon-heroku-plain-wordmark,
   .devicon-css3-plain-wordmark,
   .devicon-html5-plain-wordmark,
   .devicon-photoshop-plain {
       margin-left: 1vw;
       font-size: 4vw;
       color: white;
       text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

   }
   }
