* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.city img {
    background: linear-gradient(red, yellow);
    width: 100%;
}

.subway img {
    width: 100%;
}

.subway2 img {
    width: 100%;
}

.subway h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 32px;
}

.car {
    position: absolute;
    left: 0px;
    top: 440px;
    z-index: 1;
    animation: carMove 3s infinite normal ease-out;
}

.car2 {
    position: absolute;
    left: 0px;
    top: 890px;
    z-index: 1;
    animation: carMoveii 3s infinite normal ease-out;
}

@keyframes carMove {
    0% {
        left: -2145px;
        top: 440px;
    }
    100% {
        left: 2145px;
        top: 440px;
    }
}

@keyframes carMoveii {
    0% {
        left: 2145px;
        top: 890px;
    }
    100% {
        left: -2145px;
        top: 890px;
    }
}
